extends ../_layouts/_default

block vars
	-title        = 'Học vấn | Nodojs Resume API'
	-description  = ''
	-keywords     = ''
	-pageID       = 'education'
	-path         = '.'

block container

	section.container.pt-3
		+headingPrimary('Education')