extends ../_layouts/_default

block vars
	-title        = 'Kinh nghiệm làm việc | Nodojs Resume API'
	-description  = ''
	-keywords     = ''
	-pageID       = 'experience'
	-path         = '.'

block container

	section.container.pt-3
		+headingPrimary('Experience')