header.header-container
	.header-top
		.container.py-3
			.row.align-items-center.justify-content-between
				.col-auto
					p.h4.m-0 Nodejs Resume API
				.col-auto
					if user
						include ../_parts/_userBlock