extends ./_layouts/_blank

block vars
  -title        = 'Page not found'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
    .container
       
        .error-template.pt-4
            p.display-1
                strong 404
            p.h3
                span.text-danger Oops! 
                | Page not found
            
                
            .error-details.py-4.h5
                | Đã xảy ra lỗi, trang yêu cầu không tìm thấy!
            .error-actions
                a.btn.btn-link(href='/')
                    span.glyphicon.glyphicon-home Về trang chủ
                        