extends ../_layouts/_default

block vars
	-title        = 'Thông tin cơ bản | Nodojs Resume API'
	-description  = ''
	-keywords     = ''
	-pageID       = 'canidate'
	-path         = '.'

block container
	
	section.container.pt-3
		+headingPrimary('Thông tin cơ bản')
		form#refFormCandidate
			.row 
				.col-12.col-md-6
					+fromControl({ field: 'first_name', label: "Họ" })
				.col-12.col-md-6
					+fromControl({ field: 'last_name', label: "Tên" })
				.col-12.col-md-12
					+fromControl({ field: 'position', label: "Vị trí công việc" })
				.col-12.col-md-12
					+fromControl({ field: 'email', label: "Email", type: 'email' })
				.col-12.col-md-12
					+fromControl({ field: 'phone', label: "Số điện thoại", type: 'phone' })
				.col-12.col-md-12
					+fromSelect({ 
						field: 'education', 
						label: "Học vấn",
						options: [
							{ value: 'university', text: 'Đại học' },
							{ value: 'college', text: 'Cao đẳng' },
							{ value: 'intermediate', text: 'Trung cấp' },
						]
					})
				.col-12.col-md-12
					+fromSelect({ 
						field: 'gender', 
						label: "Giới tính",
						options: [
							{ value: '0', text: 'Nữ' },
							{ value: '1', text: 'Nam' },
						]
					})
				.col-12.col-md-12
					+fromControl({ type: 'date', field: 'birthday', label: "Ngày sinh" })
				.col-12.col-md-12
					+fromControl({ type: 'text', field: 'address', label: "Địa chỉ" })
				.col-12.col-md-12
					+fromControl({ type: 'textarea', field: 'introduction', label: "Giới thiệu bản thân" })
				.col-12
					p.text-center
						button.btn.btn-success(type="button" onClick="saveCandidate()") Lưu thông tin
		//+toast({id: 'toastMess', text: 'thành công'})

	#jsAppend

block script 
	script(src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js")
	script(src="./js/index.js")
	