extends ../_layouts/_default

block vars
	-title        = 'Candidate | Nodejs Resume API'
	-description  = ''
	-keywords     = ''
	-pageID       = 'candidate'
	-path         = '.'

block container

	section.container.pt-3
		+headingPrimary('Hello World !!!')
		p Go to <a href="https://datvt243.github.io/vue-resume-web/">Resume Web Page</a>

	