extends ../_layouts/_default

block vars
	-title        = 'Candidate | Nodojs Resume API'
	-description  = ''
	-keywords     = ''
	-pageID       = 'canidate'
	-path         = '.'

block container

	section.container.pt-3
		+headingPrimary('Welcome to my website')